<html>
	<head>
	</head>
	<title></title>
	<body>
		{{> header}}
		<h1>Welcome {{screamIt name}} you are on home page</h1>
		<h4>Choice made by you are below - </h4>
		<li>{{choice1}}</li>
		<li>{{choice2}}</li>
		<li>{{choice3}}</li>
		<li>{{choice4}}</li>
		{{> footer}}
	</body>
</html>